*{
    font-family: monospace;
}
.nav-bar{
    background-color: #c4c4c4;
    display: flex;
    justify-content: space-around;

}
.nav-bar-items{
    display: flex;
    /* justify-content: space-around; */
}
.img-1{
    width: 50px;
    border-radius: 50%;
}




.landing-page{
    /* background-color: #181EAF; */
}
.bg-blue{
    background-color: #181EAF;
    padding: 20px;
}
.name{
    text-align: center;
    background-color: darkgray;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 4px;
}
.akan-generator{
    text-align: center;
    background-color: darkgray;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 4px;
}
.bg-darkgray{
    background-color: darkgray;
}
/* .align-centre{
    text-align: center;
} */
.sub-head{
    text-align: center;
    color: #181EAF;
}
.description{
    text-align: center;
    background-color: darkgray;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 4px;
    padding: 20px;
}